<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/theme.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
<div class="card">

    <h5 class="card-header unique-color white-text text-center py-4">
        <strong>PA: Standard Section (60 %) </strong>
    </h5>

    <div class="card-body px-lg-5 pt-0">

        <form class="md-form" style="color: #757575;">

            <p id="ss1" class="form-text text-muted mb-4">1.Research/academic article published in journal</p>

            <p id="ss11" class="form-text text-muted mb-1 ml-3">1.1 National level (Journal on TCI database)</p>

            <div class="form-check">
                <input value="30" type="checkbox" class="form-check-input " id="ss11mainauthor">
                <label class="form-check-label ml-4" for="ss11mainauthor">main author (>= 50%) = 30 points</label>
            </div>

            <div class="form-check mb-4">
                <input value="10" type="checkbox" class="form-check-input" id="ss11coauthor">
                <label class="form-check-label ml-4" for="ss11coauthor">co-author(< 50%) = 10 points</label>
            </div>

            <p id="ss12" class="form-text text-muted mb-1 ml-3">1.2 International level (no record in international
                database) </p>

            <div class="form-check">
                <input value="40" type="checkbox" class="form-check-input" id="ss12mainauthor">
                <label class="form-check-label ml-4" for="ss12mainauthor">main author (>= 50%) = 40 points</label>
            </div>

            <div class="form-check mb-4">
                <input value="15" type="checkbox" class="form-check-input" id="ss12coauthor">
                <label class="form-check-label ml-4" for="ss12coauthor">co-author(< 50%) = 15 points</label>
            </div>

            <p id="ss13" class="form-text text-muted mb-1 ml-3">1.3 International level (recorded in international
                database) </p>

            <div class="form-check">
                <input value="60" type="checkbox" class="form-check-input" id="ss13mainauthor">
                <label class="form-check-label ml-4" for="ss13mainauthor">main author (>= 50%) = 60 points</label>
            </div>

            <div class="form-check">
                <input value="25" type="checkbox" class="form-check-input" id="ss13coauthor">
                <label class="form-check-label ml-4" for="ss13coauthor">co-author(< 50%) = 25 points</label>
            </div>

            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect unique-color"
                    type="submit">Send
            </button>

        </form>
    </div>
</div>

</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/theme.min.js"></script>
</html>
